<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="com.tri.evre.charger.model.dao.ChargerMapper">

	<select id="findAllChargerCount">
		SELECT
		 	   COUNT(*)
		  FROM
		  	   CHARGER
	</select>
	
	<select id="findAllCharger">
		SELECT
			   STATION_NO
			 , STATION_NAME
			 , CHARGER_NO
			 , C.STATUS
			 , S.STATUS AS STATION_STATUS
		  FROM
		  	   CHARGER C
		  JOIN
		  	   STATION S USING(STATION_NO)
		 ORDER
		 	BY
		 	   STATION_NO DESC
		OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
	</select>
	
	<select id="findChargerByStationNo">
		SELECT
			   CHARGER_NO
			 , STATUS
			 , STATION_NO
		  FROM
		  	   CHARGER
		 WHERE
		 	   STATION_NO = #{stationNo}
		OFFSET #{pageInfo.offset} ROWS FETCH NEXT #{pageInfo.size} ROWS ONLY
	</select>
	
	<select id="findByStationNo">
		SELECT
			   CHARGER_NO
			 , STATUS
			 , STATION_NO
		  FROM
		  	   CHARGER
		 WHERE
		 	   STATION_NO = #{stationNo}
	</select>
	
	<insert id="insertCharger">
		INSERT
		  INTO
		  	   CHARGER
		  	   (
				CHARGER_NO
			  , STATUS
			  , STATION_NO
			   )
    	VALUES
			   (
				SEQ_CHARGER.NEXTVAL
			  , 'Y'
			  , #{stationNo}
			   )
	</insert>
	
	<select id="findByChargerNo">
		SELECT
			   STATION_NO
			 , STATUS
		  FROM
		  	   CHARGER
		 WHERE
		 	   CHARGER_NO = #{chargerNo}
	</select>
	
	<update id="updateCharger">
		UPDATE
		       CHARGER
		   SET
		   	   STATUS = #{status}
		   	 , STATION_NO = #{stationNo}
		 WHERE
		 	   CHARGER_NO = #{chargerNo}
	</update>
	
	<update id="deleteCharger">
		UPDATE
			   CHARGER
		   SET
		  	   STATUS = 'N'
		 WHERE
		 	   CHARGER_NO = #{chargerNo}
	</update>
	
	<select id="stationChargerCount">
		SELECT
			   COUNT(*)
		  FROM
		  	   CHARGER
		 WHERE
		 	   STATION_NO = #{stationNo}
	</select>
	
</mapper>