<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="com.tri.evre.require.model.dao.RequireMapper">
	<!-- 게시글 작성 -->
	<insert id="wirteRequire"
			parameterType="Require">
			
	<selectKey keyProperty="requireNo"
               resultType="Long"
               order="BEFORE">
        SELECT SEQ_REQ.NEXTVAL FROM DUAL
    </selectKey>
	 	INSERT
				  INTO
				  		REQUIRE
				  		(
				  		REQUIRE_NO
				  	 ,	REQUIRE_TITLE
				  	 ,	REQUIRE_CONTENT
				  	 ,	USER_ID
				  	 ,  VIEWS
				  	 	)
				VALUES
						(
						#{requireNo}
					 ,	#{requireTitle}
					 ,	#{requireContent}
					 ,	#{userId}
					 ,  0
					 	)
	</insert>
	
		<!-- 조회 공통 -->
	<sql id="requireColumn">
			SELECT
					  REQUIRE_NO
					, REQUIRE_TITLE
					, CREATE_DATE
	</sql>
	
	<!-- 게시글 전체 조회 -->
	<select id="findAll" resultType="RequireResponse">
		<include refid="requireColumn"/>
		  FROM
				      REQUIRE
				WHERE
					  REQUIRE.STATUS = 'Y'
				AND
					 USER_ID = #{userId}
			    ORDER
			       BY
			       	  CREATE_DATE ASC
	        OFFSET #{pageInfo.offset} ROWS FETCH NEXT #{pageInfo.size} ROWS ONLY
	</select>
	
		<!-- 게시글 전체 갯수 조회 -->
	<select id="findRequiresCount">
		SELECT
				COUNT(*)
		  FROM
		  		REQUIRE
		 WHERE
		 		STATUS = 'Y'
	</select>
	
	
	<!--   관리자가 문의사항 전체 조회  -->
	<select id="adminFindAllRequires" resultType="Require">
		<include refid="requireColumn"/>
				, USER_ID
				  FROM
				      REQUIRE
			    ORDER
			       BY
			       	  CREATE_DATE ASC
	        OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
	</select>
	
		<select id="findByBoardNo" resultType="RequireDto">
		<include refid="requireColumn"/>
				 ,	REQUIRE_CONTENT
				  FROM
				  		REQUIRE
				 WHERE
				 		REQUIRE_NO = #{requireNo}
	</select>
	
	
	<select id="findByRequireNoAdmin" resultType="RequireDto">
		<include refid="requireColumn"/>
				 ,	REQUIRE_CONTENT
				 , 	USER_ID
				  FROM
				  		REQUIRE
				 WHERE
				 		REQUIRE_NO = #{requireNo}
	</select>
	
	<select id="sumRequires">
		SELECT
				COUNT(*)
			FROM
				REQUIRE
			WHERE
				STATUS = 'Y'
	</select>

	<select id="finishRequires">
		SELECT 
				COUNT(*)
			FROM
				REQUIRE
			WHERE
				REQUIRE_NO IN (
								SELECT
										REQUIRE_NO
									FROM
										ANSWER
									GROUP
										BY
											REQUIRE_NO
							  )
	</select>

</mapper>