<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="com.tri.evre.user.model.dao.UserMapper">
	
	<!-- 아이디 중복 체크 -->
	<select id="countByUserId">
		SELECT
				COUNT(*)
		  FROM
				SEMI_USER
		 WHERE
				USER_ID = #{userId}
	</select>
	
	<insert id="signup">
		INSERT
		  INTO
				SEMI_USER
				(
				USER_ID
			 ,	USER_PWD
			 ,	USER_NAME
			 ,	EMAIL
				)
		VALUES
				(
				#{userId}
			 ,	#{userPwd}
			 ,	#{userName}
			 ,	#{email}
				)
	</insert>
	
	<select id="findPwd">
		SELECT
				USER_PWD
		  FROM
		  		SEMI_USER
		 WHERE
		 		USER_ID = #{userId}
	</select>
	
	<update id="update">
		UPDATE
				SEMI_USER
		   SET
		   		USER_PWD = #{userPwd}
		   	 ,	EMAIL = #{email}
		 WHERE
		 		USER_ID = #{userId}
		   AND
		   		STATUS = 'Y'
	</update>
	
	<select id="findAllMileageHistory">
		SELECT
				P.PRODUCT_NAME
			 ,	H.CREATE_DATE
			 ,	I.PRICE
		  FROM
		  		HISTORY_MILEAGE H
		  JOIN
		  		PRODUCT P
		  	ON
		  		P.PRODUCT_NO = H.PRODUCT_NO
		  JOIN
		  		INVENTORY I
		  	ON
		  		P.PRODUCT_NO = I.PRODUCT_NO
		 WHERE
		 		H.USER_ID = #{username}
		 OFFSET #{pageInfo.offset} ROWS FETCH NEXT #{pageInfo.size} ROWS ONLY		
	</select>
	
	<select id="findAllUser">
		SELECT
				USER_NAME
			 ,	USER_ID
			 ,	EMAIL
			 ,	CREATE_DATE
			 ,	ROLE
			 ,	STATUS
		  FROM
		  		SEMI_USER
	  OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
	</select>
	
	<update id="updateUserRole">
		UPDATE
				SEMI_USER
		   SET
		   		ROLE = #{role}
		 WHERE
		 		USER_ID = #{userId}
	</update>
</mapper>